body{
    background-color: rgb(255,255,255);
 }

.card{
    background-image: url("pergaminho.jpg");
    width: 300px;
    text-align: center;
    font-family: Verdana;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: inline-block;
    margin: 5px;
    border-radius: 20px;

 .logo{
     height: auto;
     width: 1000px;
     margin: 0 auto; 
 }
 
 .foto{
     height: auto;
     width: 400px;
     margin: 0 auto;
     border-radius: 20px;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 }
 
     
 }
 .card .nome{
     font-weight: bold;
     font-size: 50px;
 }
 .rec{
     font-weight: bold;
     font-size: 100px;
 }
 .titulo{
     margin: 20%;
     font-size: 50px;
     text-align: center;
     font-family: Impact;
 }
 
 .berrys{
     height: auto;
     width: 500px;
     margin: 0%;
 }
 .procurado{
     text-align: center;
     font-family: Impact;
     font-size: 20px;
     margin: 0%;
 }
 p{
     margin: 0%;
 }
 a {
     text-decoration: none;
     text-decoration-color: black;
 }
